<div class="modal-content border-0 border-rounded-gradient">
    <div class="modal-header border-0">
        <h5 class="modal-title text-primary">指令分類</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="container mt-3 d-flex">
        <!-- Nav pills -->
        <div class="col-3">
          <ul class="nav nav-pills flex-column border-1" role="tablist">
            <li class="nav-item mb-2">
              <a class="nav-link p-3 active" data-bs-toggle="pill" href="#menu1">熱點提示</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu2">寫作協助</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu3">文章 / 報告</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu4">面試</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu5">程式開發</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu6">學習</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu7">語言翻譯</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu8">日常生活</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-3" data-bs-toggle="pill" href="#menu9">角色扮演</a>
          </li>

          </ul>
        </div>
        <!-- Tab panes -->
        <div class="col-9">
          <div class="tab-content">
            <div id="menu1" class="container tab-pane active">
              <a href="#" class="w-100  text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                給我一個食譜，材料包括<span class="text-danger">[_材料1_]</span>、<span class="text-danger">[_材料2_]</span>、<span class="text-danger">[_材料..._]</span>。 
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                解釋英文單字 [_英文單字_] 並給我 [_數位_] 個常用句子。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                我目前正在研究[_報告的背景和目的_]。我的報告主題是[_主題_]，請提供[_數位_]種開始方式，足夠簡單讓[_目標受眾_]理解，但又足夠吸引他們注意。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                寫一篇關於[_知識_]的[_數位_]字研究報告，在報告中引用最新研究成果並引用專家意見。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您是[_某個主題_]的專家，請針對以下陳述[_附加陳述_]提供[_數位_]個反駁，每個反駁均附有支持證據
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您是[_某領域/某主題_]的專家，請總結以下內容，並提出今後對以下內容進一步研究的方向[_附內容_]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您目前正在面試 [_公司_] 的 [_工作_]，請分享 [_數位_] 個在 [_工作_] 面試期間最常問到的問題。
              </a>
            </div>

            <div id="menu2" class="container tab-pane fade">
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您是[_職業_]，我將向您發送一封電子郵件，您將回覆此電子郵件。電子郵件：[_附上電子郵件內容_]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                在 [_話題_] 上寫 [_數位_] [_社群平台_] 樣式標題，遵循以下規則：[_規則 1_]、[_規則 2_]、[_其他規則_]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                提供主題 [_一些話題_] 的文章大綱
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                產生一篇關於主題 [_話題_] 的文章
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                為以下產品關鍵字產生 [_數位_] 句產品文案。產品關鍵字：[_附加關鍵字..._]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                請幫我寫一首[_人/歌曲/藝術家_]風格的歌曲。歌曲中包含的元素必須有 [_關鍵字..._]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                以[_風格描述_]的風格寫一個關於[_故事想法_]的短篇故事
              </a>
            </div>

            <div id="menu3" class="container tab-pane fade">
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                我目前正在研究[報告的背景和目的]。我的報告主題是[_主題_]，請提供[數字]種開始方式，足夠簡單讓[_目標受眾_]理解，但又足夠吸引他們注意。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                寫一篇關於[_知識_]的[_數位_]字研究報告，在報告中引用最新研究成果並引用專家意見。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您是[_某個主題_]的專家，請針對以下陳述[_附加陳述_]提供[_數位_]個反駁，每個反駁均附有支持證據
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                您是[_某領域/某主題_]的專家，請總結以下內容，並提出今後對以下內容進一步研究的方向[_附內容_]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                給我 [_數位_] 篇關於 [_領域] 的文章。
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                以點的形式總結本文的[_數位_]個重點：[_附文章內容/附文章網址_]
              </a>
              <a href="#" class="w-100 text-start border border-1 border-azure rounded-4 p-3 mb-3" role="button">
                以點的形式總結[_數量_][_領域_]個知識要點。
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
