<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row align-items-center">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="d-flex justify-content-center">
              Copyright &copy; 2024 &nbsp;
              <a href="https://www.yusung.com.tw/" class="link-secondary" target="_blank">宇菘科技&紘宇顧問管理有限公司</a>
              &nbsp; All rights reserved.
            </li>
          </ul>
      </div>
    </div>
  </footer>