<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row align-items-center">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="d-flex flex-column flex-sm-row justify-content-center text-center">
              <span> Copyright &copy; 2024 &nbsp;</span>
              <a href="https://www.yusung.com.tw/" class="link-light" target="_blank">宇菘科技&紘宇顧問管理有限公司</a>
              <span>&nbsp; All rights reserved.</span>
            </li>
          </ul>
      </div>
    </div>
  </footer>