<div class="py-3">
  <header class="navbar navbar-expand-md navbar-transparent d-print-none">
    <div class="container-fluid">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="./index.html">
          <img src="../assets/images/logo.png" width="110" height="32" alt="Report AI" title="Report AI" class="navbar-brand-image">
        </a>
      </h1> -->
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <div class="d-block text-gray-700 fs-3 me-2">15,432,765筆</div>
            <div class="d-block d-xl-block ps-2">
              <div class="fs-3 fs-sm-1 text-gray-700">王大明</div>
              <div class="mt-2 fs-4 fs-sm-2 text-gray-700 dropdown-toggle">總經理</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="./index.html" class="dropdown-item">登出</a>
          </div>
        </div>
      </div>
      <div class="navbar-collapse collapse pt-4" id="navbar-menu" style="">
        <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
          <ul class="navbar-nav gap-1" id="nav">
            <li class="nav-item border border-1 border-primary rounded-bottom rounded-3">
              <a class="nav-link" href="./diagram.html" data-path="./diagram.html">
                  <span class="nav-link-title">
                      關聯表
                  </span>
              </a>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3">
            <a class="nav-link" href="./chatMessage.html" data-path="./chatMessage.html">
              <span class="nav-link-title">
                資訊查詢
              </span>
            </a>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3">
            <a class="nav-link" href="./charts.html" data-path="./charts.html">
              <span class="nav-link-title">
                戰情室
              </span>
            </a>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" 
            data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-title">
                管理
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="./auth.html" data-path="./auth.html">
                   使用者管理
                  </a>
                  <a class="dropdown-item" href="./role.html" data-path="./role.html">
                    角色管理
                  </a>
                  <a class="dropdown-item" href="./line-token.html" data-path="./line-token.html">
                    Line Notify
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" 
            data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-title">
                績效
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-columns">
                <div class="dropdown-menu-column">
                  <a class="dropdown-item" href="./markMonitor.html" data-path="./markMonitor.html">
                    目標管理
                  </a>
                  <a class="dropdown-item" href="./module.html" data-path="./module.html">
                    績效指標
                  </a>
                  <a class="dropdown-item" href="./monitor.html" data-path="./monitor.html">
                    績效目標
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3">
          <a class="nav-link" href="./event.html" data-path="./event.html">
              <span class="nav-link-title">
                事件
              </span>
            </a>
          </li>
          <li class="nav-item border border-1 border-primary rounded-bottom rounded-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" 
            data-bs-auto-close="outside" role="button" aria-expanded="false">
              <span class="nav-link-title">
                戰情室報表範例
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" data-path="#">
               大樓電力儲蓄3D圖
              </a>
              <a class="dropdown-item" href="#" data-path="#">
                目標達成率分析
              </a>
              <a class="dropdown-item" href="#" data-path="./chartsAll.html">
                各區銷售管理效益圖
              </a>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentPage = window.location.pathname.split('/').pop();

    var navLinks = document.querySelectorAll('#nav .nav-link, #nav .dropdown-item');

    navLinks.forEach(function(link) {
        var targetPage = link.getAttribute('href').split('/').pop(); 
        if (currentPage === targetPage) {
            link.classList.add('active');
            
            var dropdownParent = link.closest('.dropdown');
            if (dropdownParent) {
                dropdownParent.querySelector('.dropdown-toggle').classList.add('active');
            }
        }
    });
});
</script>

