<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">新增</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="./" method="post" id="framework_form">
        <!-- 名稱 -->
        <div class="col mb-3">
            <label class="form-label">名稱</label>
            <input type="text" class="form-control" name="input-name" placeholder="請輸入名稱"/>
        </div>
        <!-- Line Token -->
        <div class="mb-3">
            <label class="form-label">Line Token</label>
            <input type="text" class="form-control" name="input-Token" placeholder="請輸入Line Token"/>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-bs-dismiss="modal">取消</button>
      <button type="button" class="btn btn-purple" data-bs-dismiss="modal">確認</button>
    </div>
</form>
</div>