<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">測試</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Line Notify 測試
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-bs-dismiss="modal">取消</button>
      <button type="button" class="btn btn-purple" data-bs-dismiss="modal">確認</button>
    </div>
  </div>