<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">編輯</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="./" method="post" id="framework_form">
    <!-- 選擇欄位名稱 -->
      <div class="mb-3">
        <label for="select-item" class="form-label">選擇欄位名稱</label>
          <select class="form-select" id="select-item" data-placeholder="請選擇欄位" multiple>
            <option value="group_01">今年的銷貨收入</option>
            <option value="group_02">今年的銷貨毛利</option>
            <option value="group_03">今年的銷貨收入</option>
          </select>
      </div>
      <!-- 目標值 -->
        <div class="mb-3">
            <label class="form-label">目標值</label>
            <input type="text" class="form-control" name="input-name" value="2,400,000.00"/>
        </div>
        <!-- 目標值單位 -->
        <div class="mb-3">
            <label class="form-label">目標值單位</label>
            <input type="text" class="form-control" name="input-name" value="元"/>
        </div>
    <!-- 通知群組 -->
      <div class="mb-3">
          <label for="select-group" class="form-label">通知群組</label>
          <select class="form-select" id="select-group" data-placeholder="請選擇群組" multiple>
            <option value="group_01">測試群組1</option>
            <option value="group_02">測試群組2</option>
            <option value="group_03">測試群組3</option>
          </select>
      </div>
      <!-- 觸發條件 -->
        <div class="mb-3">
            <div class="form-label">觸發條件</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-target" checked>
                <span class="form-check-label">低於目標值通知</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-target">
                <span class="form-check-label">高於目標值通知</span>
              </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-label">指標</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date" checked>
                <span class="form-check-label">月指標</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">季指標</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">年指標</span>
              </label>
            </div>
        </div>
        <!-- 發送日期 -->
        <div class="mb-3">
            <label class="form-label">發送日期(1-28)</label>
            <input type="text" class="form-control" name="input-name" value="1"/>
        </div>
        <!-- 監控日期 -->
        <div class="mb-3">
            <div>監控日期</div>
            <div class="d-flex flex-column flex-sm-row justify-content-start">
                <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row align-item-center mb-3 mb-sm-0">
                    <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                        監控開始日期
                    </div>
                    <div class="col-12 col-sm-8">
                        <div data-coreui-locale="en-tw" data-coreui-placeholder="開始日期" data-coreui-toggle="date-picker" dir="rtl"></div>
                    </div>
                </div>
                <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row justify-content-star align-sm-item-center ps-sm-2">
                    <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                        監控結束日期
                    </div>
                    <div class="col-12 col-sm-8">
                        <div data-coreui-locale="en-tw" data-coreui-placeholder="結束日期" data-coreui-toggle="date-picker"></div>
                    </div>
                </div>      
            </div>
        </div>
        <!-- 是否啟用 -->
        <div class="mb-3">
            <div class="form-label">是否啟用</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable" checked>
                <span class="form-check-label">啟用</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable">
                <span class="form-check-label">未啟用</span>
              </label>
            </div>
        </div>
        <!-- 今年銷貨收入 -->
        <div class="table-responsive border">
          <table class="table table-hover table-vcenter">
              <thead>
              <tr>
                  <th>今年銷貨收入</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td class="text-secondary table-active">110277736</td>
              </tr>
              </tbody>
          </table>
          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-bs-dismiss="modal">取消</button>
      <button type="button" class="btn btn-purple" data-bs-dismiss="modal">確認</button>
    </div>
  </form>
  </div>
