<div class="modal-content border-0 border-rounded-gradient">
  <div class="modal-header">
      <h5 class="modal-title text-primary">編輯</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="./" method="post" id="framework_form">
    <!-- 選擇欄位名稱 -->
      <div class="mb-3">
        <label for="select-item" class="form-label">選擇欄位名稱</label>
          <select class="form-select" id="select-item" data-placeholder="請選擇欄位" multiple>
            <option value="group_01">今年的銷貨收入</option>
            <option value="group_02">今年的銷貨毛利</option>
            <option value="group_03">今年的銷貨收入</option>
          </select>
      </div>
      <!-- 目標值 -->
        <div class="mb-3">
            <label class="form-label">目標值</label>
            <input type="text" class="form-control" name="input-name" value="2,400,000.00"/>
        </div>
        <!-- 目標值單位 -->
        <div class="mb-3">
            <label class="form-label">目標值單位</label>
            <input type="text" class="form-control" name="input-name" value="元"/>
        </div>
    <!-- 通知群組 -->
      <div class="mb-3">
          <label for="select-group" class="form-label">通知群組</label>
          <select class="form-select" id="select-group" data-placeholder="請選擇群組" multiple>
            <option value="group_01">測試群組1</option>
            <option value="group_02">測試群組2</option>
            <option value="group_03">測試群組3</option>
          </select>
      </div>
      <!-- 觸發條件 -->
        <div class="mb-3">
            <div class="form-label">觸發條件</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-target" checked>
                <span class="form-check-label">低於目標值通知</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-target">
                <span class="form-check-label">高於目標值通知</span>
              </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-label">指標</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date" checked>
                <span class="form-check-label">月指標</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">季指標</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">年指標</span>
              </label>
            </div>
        </div>
        <!-- 發送日期 -->
        <div class="mb-3">
            <label class="form-label">發送日期(1-28)</label>
            <input type="text" class="form-control" name="input-name" value="1"/>
        </div>
            <!-- 監控日期 -->
            <div class="mb-3">
              <div>監控日期</div>
              <div class="d-flex flex-column flex-sm-row justify-content-start">
                  <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row align-item-center mb-3 mb-sm-0">
                      <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                          監控開始日期
                      </div>
                      <div class="col-12 col-sm-8">
                          <div class="input-icon">
                              <span class="input-icon-addon">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                              </span>
                              <input class="form-control" placeholder="選擇日期" id="datepicker-icon-start" value="">
                          </div>
                      </div>
                  </div>
                  <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row justify-content-star align-sm-item-center ps-sm-2">
                      <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                          監控結束日期
                      </div>
                      <div class="col-12 col-sm-8">
                          <div class="input-icon">
                              <span class="input-icon-addon">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                </span>
                              <input class="form-control " placeholder="選擇日期" id="datepicker-icon-end" value="">
                          </div>
                      </div>
                  </div>      
              </div>
          </div>
        <!-- 是否啟用 -->
        <div class="mb-3">
            <div class="form-label">是否啟用</div>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable" checked>
                <span class="form-check-label">啟用</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable">
                <span class="form-check-label">未啟用</span>
              </label>
            </div>
        </div>
        <!-- 今年銷貨收入 -->
        <div class="table-responsive border-0 border-gradient-purple-bottom pb-3">
          <table class="table table-hover table-vcenter text-primary">
              <thead>
              <tr>
                  <th>今年銷貨收入</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>110,277,736</td>
              </tr>
              <tr>
                  <td>110,277,736</td>
            </tr>
            <tr>
                <td>110,277,736</td>
            </tr>
              </tbody>
          </table>
        </div>
    </div>
    <div class="modal-footer border-0">
      <button type="button" class="btn" data-bs-dismiss="modal">取消</button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認</button>
    </div>
  </form>
  </div>
