<div class="modal-content border-0 border-rounded-gradient">
    <div class="modal-header border-0">
        <h5 class="modal-title text-indigo">修改監控指標</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="./" method="post" id="framework_form">
            <!-- 績效目標名稱 -->
            <div class="mb-3">
                <label class="form-label">績效目標名稱</label>
                <input type="text" class="form-control" name="input-name" placeholder="請輸入績效目標名稱"/>
            </div>
            <!-- 績效指標 -->
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="edit-select-per" class="form-label">績效指標</label>
                    <select class="form-select" id="edit-select-per" data-placeholder="請選擇指標" multiple>
                        <option value="ind01">2023 Q1銷售</option>
                        <option value="ind02">2023 Q1焦點產品銷售</option>
                        <option value="ind03">2023 Q2銷售</option>
                        <option value="ind04">2023 Q2焦點產品銷售</option>
                        <option value="ind05">2023 Q3銷售</option>
                        <option value="ind06">庫存週轉率（Inventory Turnover）</option>
                        <option value="ind07">庫存成本比率（Inventory Cost-to-Sales Ratio）</option>
                        <option value="ind08">安全庫存水平（Safety Stock Level）</option>
                        <option value="ind09">缺貨率（Stockout Rate）</option>
                        <option value="ind10">平均庫存週期（Average Inventory Days）</option>
                        <option value="ind11">周轉時間（Lead Time）</option>
                        <option value="ind12">品質控制（Quality Control）</option>
                        <option value="ind13">產能利用率（Capacity Utilization）</option>
                        <option value="ind14">交貨時間（Lead Time）</option>
                        <option value="ind15">平均收款週期（Average Collection Period）</option>
                        <option value="ind16">帳齡分析（Aging of Accounts Receivable）</option>
                        <option value="ind17">逾期帳款率（Accounts Receivable Overdue Percentage）</option>
                        <option value="ind18">應收帳款週轉率（Accounts Receivable Turnover）</option>
                        <option value="ind19">合約履行率（Contract Compliance）</option>
                        <option value="ind20">合約達成率（Contract Attainment）</option>
                        <option value="ind21">2023 Q3焦點產品銷售</option>
                        <option value="ind22">2023 Q4焦點產品銷售</option>
                        <option value="ind23">2023 Q4銷售</option>
                    </select>
                </div>
            <!-- 目標值 -->
            <div class="col-6">
                <label class="form-label">目標值</label>
                <input type="text" class="form-control" name="input-name" placeholder="0.00"/>
            </div>
            </div>
            <!-- 通知群組 -->
            <div class="mb-3">
                <label for="edit-select-group" class="form-label">通知群組</label>
                  <select class="form-select" id="edit-select-group" data-placeholder="請選擇群組" multiple>
                    <option value="group_01">測試群組1</option>
                    <option value="group_02">測試群組2</option>
                    <option value="group_03">測試群組3</option>
                </select>
            </div>
            <!-- 觸發條件 -->
            <div class="mb-3">
                <label class="form-label">觸發條件</label>
                <div>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radios-target" checked>
                    <span class="form-check-label">低於目標值通知</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radios-target">
                    <span class="form-check-label">高於目標值通知</span>
                </label>
                </div>
            </div>
            <!-- 是否啟用 -->
            <div class="mb-3">
            <label class="form-label">是否啟用</label>
            <div>
                <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable" checked>
                <span class="form-check-label">啟用</span>
                </label>
                <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-enable">
                <span class="form-check-label">未啟用</span>
                </label>
            </div>
            </div>
            <!-- 監控日期 -->
            <div class="mb-3">
                <div>監控日期</div>
                <div class="d-flex flex-column flex-sm-row justify-content-start">
                    <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row align-item-center mb-3 mb-sm-0">
                        <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                            監控開始日期
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="input-icon">
                                <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                </span>
                                <input class="form-control" placeholder="選擇日期" id="datepicker-icon-start-edit" value="">
                            </div>
                        </div>
                    </div>
                    <div class="input-icon col-12 col-sm-6 d-flex flex-column flex-sm-row justify-content-star align-sm-item-center ps-sm-2">
                        <div class="form-label col-12 col-sm-4 d-flex justify-content-start align-self-center mb-2 mb-sm-0">
                            監控結束日期
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="input-icon">
                                <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                                  </span>
                                <input class="form-control " placeholder="選擇日期" id="datepicker-icon-end-edit" value="">
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        <!-- 通知期間 -->
        <div class="mb-3">
            <label class="form-label">通知期間</label>
            <div>
                <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date" checked>
                <span class="form-check-label">二分法</span>
                </label>
                <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">三分法</span>
                </label>
                <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radios-date">
                <span class="form-check-label">四分法</span>
                </label>
            </div>
        </div>
        <!-- 事件聯絡人 -->
        <div class="mb-3">
            <div class="flex flex-row justify-content-between">
            <div class="d-flex flex-column flex-sm-row justify-content-start">
                <div class="col-12 col-sm-2 d-flex align-item-center mb-2 mb-sm-0">
                    <div class="form-label d-flex justify-content-start align-self-center">事件聯絡人</div>
                </div>
                <div class="col-12 col-sm-8 d-flex">
                    <div class="col-9 align-sm-item-center">
                        <select class="form-select" id="edit-select-user" data-placeholder="選擇使用者" multiple>
                            <option value="user01">總經理-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user02">王經理-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user03">任經理-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user04">江處長-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user05">謝經理-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user06">副廠長-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user07">劉處長-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user08">柯處長-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user09">楊經理-診所事業處-wang@aimedicine.com.tw</option>
                            <option value="user10">古副理-診所事業處-wang@aimedicine.com.tw</option>
                        </select>
                    </div>     
                    <div class="col-2 col-sm-2 align-sm-item-center ps-3">
                        <button type="button" class="btn btn-purple" data-bs-dismiss="modal">新增</button>
                    </div>   
                </div>
            </div>
            </div>
        </div>
        <div class="table-responsive border-0 border-gradient-purple-bottom pb-3">
            <table class="table table-hover table-vcenter table-dark">
            <thead>
            <tr>
                <th>名稱</th>
                <th>部門</th>
                <th>信箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>王經理</td>
                <td>診所事業處</td>
                <td>wang@aimedicine.com.tw</td>
                <td>刪除</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-purple" data-bs-dismiss="modal">確認</button>
    </div>
    </form>
</div>

