.navbar {
  background: transparent;
  box-shadow: none;
	@media screen and (max-width: 480px){
    // background: #FFF;
    color: #333;;
  }
}

.navbar-brand-image {
  width: auto;
  height: 4rem;
}

.brand-image-dark {
  filter: brightness(0) invert(1);
}

.navbar .navbar-nav .nav-link {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  border-radius: var(--tblr-border-radius);
  @media screen and (max-width: 480px) {
    min-height: auto;
  }
}

.nav-link {
  color: $gray-700;
}

.nav-link-title:hover {
  color: #FFF;
}

#nav .nav-item > a:hover {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .nav-item > a.active {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .dropdown-item:hover {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .dropdown-item.active, .dropdown-item:active {
  color: #2824a1 !important;
  background-color: #a5c8ef;
}