.navbar {
  background: transparent;
  box-shadow: none;
}

.navbar-brand-image {
  width: auto;
  height: 4rem;
}

.nav-link {
  color: $primary;
}

.nav-link-title:hover {
  color: #FFF;
}

#nav .nav-item > a:hover {
  color: #FFF !important;
  background-color: #6C9BCF;
}

#nav .nav-item > a.active {
  color: #FFF !important;
  background-color: #6C9BCF;
}

#nav .dropdown-item:hover {
  color: #FFF !important;
  background-color: #6C9BCF;
}

#nav .dropdown-item.active, .dropdown-item:active {
  color: #2824a1 !important;
  background-color: #a5c8ef;
}