.navbar {
  background: transparent;
  box-shadow: none;
	@media screen and (max-width: 480px){
    // background: #FFF;
    color: #333;;
  }
}

.navbar-brand-image {
  width: auto;
  height: 4rem;
}

.brand-image-dark {
  filter: brightness(0) invert(1);
}

.nav-link {
  color: #FFF;
}

.nav-link-title:hover {
  color: #FFF;
}

#nav .nav-item > a:hover {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .nav-item > a.active {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .dropdown-item:hover {
  color: #FFF !important;
  background-color: #2E3188;
}

#nav .dropdown-item.active, .dropdown-item:active {
  color: #2824a1 !important;
  background-color: #a5c8ef;
}