.btn-login {
  color: #FFF;
  background: linear-gradient(to right,  rgba(122,188,255,1) 0%,rgba(64,150,238,1) 100%); 
}

#particles-js {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}