.btn-login {
  color: #FFF;
  background: linear-gradient(90deg, #0070e0 0%, #09b5d8 100%);
}

.btn-login:hover {
  color: #FFF;
  background: linear-gradient(90deg, #09b5d8 0%, #0070e0 100%);
  transition: all 0.3s;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}