<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>戰情室 - Report AI</title>
  </head>
  <body>
    <div class="page">
		<%- include('./layout/header'); -%>
      <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-fluid">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title text-primary">
                戰情室
              </h2>
            </div>
          </div>
        </div>
      </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-fluid">
            <div class="row row-cards">

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex flex-wrap justify-content-between">
								<h2 class="mb-3 text-primary">不同年齡段男性與女性消費者人數</h2>
							<div class="d-flex justify-slef-end">
								<a href="#" class="link-secondary btn btn-danger btn-icon me-2" data-bs-toggle="tooltip" 
								data-bs-placement="top" aria-label="刪除" data-bs-original-title="刪除"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M4 7l16 0" />
										<path d="M10 11l0 6" />
										<path d="M14 11l0 6" />
										<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
										<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
									  </svg>
								</a>
								<button class="btn btn-primary btn-icon" type="button" 
								data-bs-toggle="collapse" data-bs-target="#collapseChart_1" aria-expanded="false" aria-controls="collapseChart_1">
									<!-- 查詢 -->
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
										<path d="M21 21l-6 -6" />
									</svg>
								</button>
							</div>
						</div>
						<div class="collapse" id="collapseChart_1">
							<div class="card-body">
								<div id="chart-1" class="bg-light"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex flex-wrap justify-content-between">
							<h2 class="mb-3 text-primary">不同年齡段與性別在銷貨收入關聯性</h2>
							<div class="d-flex justify-slef-end">
								<a href="#" class="link-secondary btn btn-danger btn-icon me-2" 
								data-bs-toggle="tooltip" data-bs-placement="top" aria-label="刪除" data-bs-original-title="刪除"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M4 7l16 0" />
										<path d="M10 11l0 6" />
										<path d="M14 11l0 6" />
										<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
										<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
									  </svg>
								</a>
								<button class="btn btn-primary btn-icon" type="button" data-bs-toggle="collapse" 
								data-bs-target="#collapseChart_2" aria-expanded="false" aria-controls="collapseChart_2">
									<!-- 查詢 -->
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
										<path d="M21 21l-6 -6" />
									</svg>
								</button>
							</div>
						</div>
						<div class="collapse" id="collapseChart_2">
							<div class="card-body">
								<div id="chart-2" class="bg-light"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex flex-wrap justify-content-between">
							<h2 class="mb-3 text-primary">各別區域銷貨毛利</h2>
							<div class="d-flex justify-slef-end">
								<a href="#" class="link-secondary btn btn-danger btn-icon me-2" data-bs-toggle="tooltip"
								data-bs-placement="top" aria-label="刪除" data-bs-original-title="刪除"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M4 7l16 0" />
										<path d="M10 11l0 6" />
										<path d="M14 11l0 6" />
										<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
										<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
									</svg>
								</a>
								<button class="btn btn-primary btn-icon" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChart_3" 
								aria-expanded="false" aria-controls="collapseChart_3">
									<!-- 查詢 -->
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
										<path d="M21 21l-6 -6" />
									</svg>
								</button>
							</div>
						</div>
						<div class="collapse" id="collapseChart_3">
							<div class="card-body">
								<div id="chart-3" class="bg-light"></div>
							</div>
						</div>
					</div>
				</div>

            </div>
          </div>
        </div>
      </div>
	  <%- include('./layout/footer'); -%>
    </div>
    <div class="go-to-top" id="backtop">
		<a href="#">
		  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up icon" width="24" height="24" 
		  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round">
		  <polyline points="6 15 12 9 18 15"></polyline></svg>
		</a>
	  </div>
    <script type="module" src="../main.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->

	<!-- chart-1 -->
	<!-- <script>
		var options = {
			chart: {
				type: 'bar'
			},
			plotOptions: {
					bar: {
						columnWidth: '50%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				series: [{
					name: "男性",
					data: [155, 65, 465, 265, 225, 325, 80]
				},{
					name: "女性",
					data: [113, 42, 65, 54, 76, 65, 35]
				}],
  				tooltip: {
					theme: 'dark'
				},
  				grid: {
					padding: {
						top: -20,
						right: 0,
						left: -4,
						bottom: -4
					},
					strokeDashArray: 4,
				},
				xaxis: {
					labels: {
						padding: 0,
					},
					tooltip: {
						enabled: false
					},
					axisBorder: {
						show: false,
					},
				},
  				yaxis: {
					labels: {
						padding: 4
					},
				},
				labels: [
					'0-20歲', '21-30歲', '31-40歲', '41-50歲', '51-60歲', '61-70歲', '71-80歲'
				],
				colors: ["#93C6E7","#EFA3C8","#BA90C6","#FFC764","#7AB2B2","#948979"],
				legend: {
					show: true,
				},
		}

		var chart = new ApexCharts(document.querySelector("#chart-1"), options);

		chart.render();
	</script> -->
	<!-- chart-2 -->
	<!-- <script>
		var options = {
			chart: {
				type: 'bar'
			},
			plotOptions: {
					bar: {
						columnWidth: '50%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				series: [{
					name: "男性",
					data: [155, 65, 465, 265, 225, 325, 80]
				},{
					name: "女性",
					data: [113, 42, 65, 54, 76, 65, 35]
				}],
  				tooltip: {
					theme: 'dark'
				},
  				grid: {
					padding: {
						top: -20,
						right: 0,
						left: -4,
						bottom: -4
					},
					strokeDashArray: 4,
				},
				xaxis: {
					labels: {
						padding: 0,
					},
					tooltip: {
						enabled: false
					},
					axisBorder: {
						show: false,
					},
				},
  				yaxis: {
					labels: {
						padding: 4
					},
				},
				labels: [
					'0-20歲', '21-30歲', '31-40歲', '41-50歲', '51-60歲', '61-70歲', '71-80歲'
				],
				colors: ["#93C6E7","#EFA3C8","#BA90C6","#FFC764","#7AB2B2","#948979"],
				legend: {
					show: true,
				},
		}

		var chart = new ApexCharts(document.querySelector("#chart-2"), options);

		chart.render();
	</script> -->
	<!-- chart-3 -->
	<!-- <script>
		var options = {
			chart: {
				type: 'bar'
			},
			plotOptions: {
					bar: {
						columnWidth: '50%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				series: [{
					name: "銷貨毛利",
					data: [155, 65, 465, 265, 225]
				}],
  				tooltip: {
					theme: 'dark'
				},
  				grid: {
					padding: {
						top: -20,
						right: 0,
						left: -4,
						bottom: -4
					},
					strokeDashArray: 4,
				},
				xaxis: {
					labels: {
						padding: 0,
					},
					tooltip: {
						enabled: false
					},
					axisBorder: {
						show: false,
					},
				},
  				yaxis: {
					labels: {
						padding: 4
					},
				},
				labels: [
					'中部', '北部', '南部', '外島', '東部'
				],
				colors: ["#93C6E7","#EFA3C8","#BA90C6","#FFC764","#7AB2B2","#948979"],
				legend: {
					show: true,
				},
		}

		var chart = new ApexCharts(document.querySelector("#chart-3"), options);

		chart.render();
	</script> -->
  </body>
</html>