<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>戰情室 - Report AI</title>
  </head>
  <body>
    <div class="page">
		<%- include('./layout/header'); -%>
      <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title">
                戰情室
              </h2>
            </div>
          </div>
        </div>
      </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex justify-content-between mb-4">
							<h2 class="mb-3 text-primary">不同年齡段男性與女性消費者人數</h2>
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" 
							data-bs-target="#collapseChart_1" aria-expanded="false" aria-controls="collapseChart_1">
								查詢
							</button>
						</div>
						<div class="collapse" id="collapseChart_1">
							<div class="card-body">
								<div id="chart-1"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex justify-content-between mb-4">
							<h2 class="mb-3 text-primary">不同年齡段與性別在銷貨收入關聯性</h2>
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" 
							data-bs-target="#collapseChart_2" aria-expanded="false" aria-controls="collapseChart_2">
								查詢
							</button>
						</div>
						<div class="collapse" id="collapseChart_2">
							<div class="card-body">
								<div id="chart-2"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-xl-6">
					<div class="card border-0 border-rounded-gradient">
						<div class="card-header border-0 d-flex justify-content-between mb-4">
							<h2 class="mb-3 text-primary">各別區域銷貨毛利</h2>
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" 
							data-bs-target="#collapseChart_3" aria-expanded="false" aria-controls="collapseChart_3">
								查詢
							</button>
						</div>
						<div class="collapse" id="collapseChart_3">
							<div class="card-body">
								<div id="chart-3"></div>
							</div>
						</div>
					</div>
				</div>

            </div>
          </div>
        </div>
      </div>
	  <%- include('./layout/footer'); -%>
    </div>
    <div class="go-to-top" id="backtop">
		<a href="#">
		  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up icon" width="24" height="24" 
		  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round">
		  <polyline points="6 15 12 9 18 15"></polyline></svg>
		</a>
	  </div>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>
	<!-- chart-1 -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			window.ApexCharts && (new ApexCharts(document.getElementById('chart-1'), {
				chart: {
					background: '#FFFFFF',
					type: "bar",
					fontFamily: 'inherit',
					height: 340,
					parentHeightOffset: 0,
					toolbar: {
						show: true,
					},
					animations: {
						enabled: true
					},
				},
				plotOptions: {
					bar: {
						columnWidth: '50%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				fill: {
					opacity: 1,
				},
				series: [{
					name: "男性",
					data: [155, 65, 465, 265, 225, 325, 80]
				},{
					name: "女性",
					data: [113, 42, 65, 54, 76, 65, 35]
				}],
				tooltip: {
					theme: 'dark'
				},
				grid: {
					padding: {
						top: -20,
						right: 0,
						left: -4,
						bottom: -4
					},
					strokeDashArray: 4,
				},
				xaxis: {
					labels: {
						padding: 0,
					},
					tooltip: {
						enabled: false
					},
					axisBorder: {
						show: false,
					},
				},
				yaxis: {
					labels: {
						padding: 4
					},
				},
				labels: [
					'0-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80'
				],
				colors: [tabler.getColor("primary"), tabler.getColor("pink")],
				legend: {
					show: true,
				},
			})).render();
		});
	</script>
	<!-- chart-2 -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			window.ApexCharts && (new ApexCharts(document.getElementById('chart-2'), {
				chart: {
					background: '#FFFFFF',
					type: "bar",
					fontFamily: 'inherit',
					height: 340,
					parentHeightOffset: 0,
					toolbar: {
						show: true,
					},
					animations: {
						enabled: true
					},
				},
				plotOptions: {
					bar: {
						columnWidth: '50%',
					}
				},
				dataLabels: {
					enabled: false,
				},
				fill: {
					opacity: 1,
				},
				series: [{
					name: "男性",
					data: [155, 65, 465, 265, 225, 325, 80]
				},{
					name: "女性",
					data: [113, 42, 65, 54, 76, 65, 35]
				}],
				tooltip: {
					theme: 'dark'
				},
				grid: {
					padding: {
						top: -20,
						right: 0,
						left: -4,
						bottom: -4
					},
					strokeDashArray: 4,
				},
				xaxis: {
					labels: {
						padding: 0,
					},
					tooltip: {
						enabled: false,
					},
					axisBorder: {
						show: false,
					},
					// type: 'datetime',
				},
				yaxis: {
					labels: {
						padding: 4
					},
				},
				labels: [
					'0-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80'
				],
				colors: [tabler.getColor("primary"), tabler.getColor("pink")],
				legend: {
					show: true,
				},
			})).render();
		});
	</script>
	<!-- chart-3 -->
	<script>
	document.addEventListener("DOMContentLoaded", function () {
		window.ApexCharts && (new ApexCharts(document.getElementById('chart-3'), {
			chart: {
				background: '#FFFFFF',
				type: "bar",
				fontFamily: 'inherit',
				height: 340,
				parentHeightOffset: 0,
				toolbar: {
					show: true,
				},
				animations: {
					enabled: true
				},
			},
			plotOptions: {
				bar: {
					columnWidth: '50%',
				}
			},
			dataLabels: {
				enabled: true,
			},
			fill: {
				opacity: 1,
			},
			series: [{
				name: "Tasks completion",
				data: [155, 65, 465, 265, 225]
			}],
			tooltip: {
				theme: 'dark'
			},
			grid: {
				padding: {
					top: -20,
					right: 0,
					left: -4,
					bottom: -4
				},
				strokeDashArray: 4,
			},
			xaxis: {
				labels: {
					padding: 0,
				},
				tooltip: {
					enabled: false
				},
				axisBorder: {
					show: false,
				},
			},
			yaxis: {
				labels: {
					padding: 4
				},
			},
			labels: [
				'中部', '北部', '南部', '外島', '東部'
			],
			colors: [tabler.getColor("primary")],
			legend: {
				show: true,
			},
		})).render();
	});
	</script>
  </body>
</html>
