<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>資訊查詢 - Report AI</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/header'); -%>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title text-primary">
                  資訊查詢
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card border-top-0 bg-transparent border-0 border-gradient-blue-bottom p-2">
              <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-end">

                  <div class="card-body scrollable p-2" style="max-height:38rem">
                    <div class="nav flex-column nav-pills" role="tablist">

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2 active" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="true">
                        <div class="row align-items-center flex-fill">
                            商品與城市關係
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            不同年齡段與性別在銷貨收入關聯性
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            根據上述加上銷貨毛利
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                          各別城市銷貨毛利
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            今年的銷貨收入
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            幫我查去年每個月的營業額
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            依據上個查詢結果 幫我加上每個月毛利
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            可以幫我查詢這個月最暢銷的十個商品
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            依據上次結果 將會員等級放X軸
                        </div>
                      </a>

                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 mb-2" 
                      id="chat-1-tab" data-bs-toggle="pill" role="tab" aria-selected="false">
                        <div class="row align-items-center flex-fill">
                            我想查詢會員與商品名稱間的關係
                        </div>
                      </a>

                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-7 col-xl-9 d-flex flex-column">
                  <div class="card-body scrollable" style="height: 35rem">
                    <div class="chat">

                      <div class="chat-bubbles">
                        <div class="chat-item">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:32</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>商品與城市關係</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-1">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)">
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="chat-item">
                          <div class="row align-items-end">
                            <div class="col-auto mb-1">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:34</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>收到您的問題 商品與城市關係</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pin">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" />
                              <path d="M9 15l-4.5 4.5" />
                              <path d="M14.5 4l5.5 5.5" />
                            </svg>
                        </div>
                        </div>

                        <div class="chat-item">
                          <div class="row align-items-end">
                            <div class="col-auto mb-1">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:35</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>我將為您展現 商品與城市關係</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pin">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" />
                              <path d="M9 15l-4.5 4.5" />
                              <path d="M14.5 4l5.5 5.5" />
                            </svg>
                        </div>
                        </div>

                        <div class="chat-item">
                          <div class="row align-items-end">
                            <div class="col-auto mb-1">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:40</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>這裡是 商品與城市關係的結果</p>
                                  <div class="mt-2">
                                    <img src="../assets/images/lsosdwms.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="pin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pin">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                  <path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" />
                                  <path d="M9 15l-4.5 4.5" />
                                  <path d="M14.5 4l5.5 5.5" />
                                </svg>
                            </div>
                            </div>
                          </div>
                        </div>
              
                        <div class="chat-item">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:47</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>不同年齡段與性別在銷貨收入關聯性</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-1">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)"></span>
                            </div>
                          </div>
                        </div>
  
                        <div class="chat-item">
                          <div class="row align-items-end">
                            <div class="col-auto mb-1">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)"></span>
                            </div>
                            <div class="col-auto">
                              <div class="chat-bubble">
                                <div class="chat-bubble-body">
                                  <p class="text-light text-italic">typing<span class="animated-dots"></span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>             
                    <div class="card-footer bg-transparent border-0 d-flex">
                      <a href="#" class="link-secondary btn btn-purple text-white me-2"  data-bs-toggle="modal" data-bs-target="#modal-command"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-robot">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M6 4m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
                          <path d="M12 2v2" />
                          <path d="M9 12v9" />
                          <path d="M15 12v9" />
                          <path d="M5 16l4 -2" />
                          <path d="M15 14l4 2" />
                          <path d="M9 18h6" />
                          <path d="M10 8v.01" />
                          <path d="M14 8v.01" />
                        </svg>
                        命令工廠
                      </a> 
                      <div class="input-group input-group-flat">
                        <input type="text" class="form-control" autocomplete="off" placeholder="請輸入問題">
                        <span class="input-group-text p-1">
                          <a href="#" class="link-secondary btn btn-info btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="語音" data-bs-original-title="語音"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-microphone">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M9 2m0 3a3 3 0 0 1 3 -3h0a3 3 0 0 1 3 3v5a3 3 0 0 1 -3 3h0a3 3 0 0 1 -3 -3z"></path>
                              <path d="M5 10a7 7 0 0 0 14 0"></path>
                              <path d="M8 21l8 0"></path>
                              <path d="M12 17l0 4"></path>
                            </svg>
                          </a>
                          <a href="#" class="link-secondary ms-2 btn btn-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="傳送" data-bs-original-title="傳送"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-send">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M10 14l11 -11"></path>
                              <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
                            </svg>
                        </a>
                        </span>
                        <!-- <button class="btn btn-primary">傳送</button> -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <div class="go-to-top" id="backtop">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up icon" width="24" height="24" 
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="6 15 12 9 18 15"></polyline></svg>
      </a>
    </div>
    <!-- modal -->
    <div class="modal modal-blur fade" id="modal-command" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <%- include('./layout/chatMessage-command'); -%>
      </div>
  </div>
    <!-- Tabler Core -->
    <script type="module" src="../main.js"></script>
  </body>
</html>