<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>資訊查詢 - Report AI</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/header'); -%>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-fluid">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title text-primary">
                  資訊查詢
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
              <div class="question__list nav flex-column nav-pills p-2" role="tablist">
                <div class="card-body scrollable p-2">
                  <ul class="nav nav-pills d-flex flex-column" role="tablist">
                    <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3 active" 
                      data-bs-toggle="pill" role="tab" aria-selected="true">
                       <div class="row align-items-center flex-fill">
                           商品與城市關係
                       </div>
                     </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-2" class="nav-link text-start mw-100 p-3"  
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                          <div class="row align-items-center flex-fill">
                              不同年齡段與性別在銷貨收入關聯性
                          </div>
                        </a>  
                    </li>  
                    <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3"
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            根據上述加上銷貨毛利
                        </div>
                      </a>
                    </li>  
                    <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                          各別城市銷貨毛利
                        </div>
                      </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            今年的銷貨收入
                        </div>
                      </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                          <div class="row align-items-center flex-fill">
                              幫我查去年每個月的營業額
                          </div>
                        </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-1" class="nav-link text-start mw-100 p-3"  
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                          <div class="row align-items-center flex-fill">
                              依據上個查詢結果 幫我加上每個月毛利
                          </div>
                        </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                          <div class="row align-items-center flex-fill">
                              可以幫我查詢這個月最暢銷的十個商品
                          </div>
                        </a>
                    </li>  
                    <li class="nav-item mb-2">
                        <a href="#chat-1" class="nav-link text-start mw-100 p-3"  
                        data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                          <div class="row align-items-center flex-fill">
                              依據上次結果 將會員等級放X軸
                          </div>
                        </a>
                    </li>  
                    <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3"
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            我想查詢會員與商品名稱間的關係
                        </div>
                      </a>
                    </li>  
                    <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                      <div class="row align-items-center flex-fill">
                          今年的銷貨收入
                      </div>
                    </a>
                  </li>  
                  <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            幫我查去年每個月的營業額
                        </div>
                      </a>
                  </li>  
                  <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3"  
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            依據上個查詢結果 幫我加上每個月毛利
                        </div>
                      </a>
                  </li>  
                  <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3" 
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            可以幫我查詢這個月最暢銷的十個商品
                        </div>
                      </a>
                  </li>  
                  <li class="nav-item mb-2">
                      <a href="#chat-1" class="nav-link text-start mw-100 p-3"  
                      data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                        <div class="row align-items-center flex-fill">
                            依據上次結果 將會員等級放X軸
                        </div>
                      </a>
                  </li>  
                  <li class="nav-item mb-2">
                    <a href="#chat-1" class="nav-link text-start mw-100 p-3"
                    data-bs-toggle="pill" role="tab" aria-selected="false" tabindex="-1">
                      <div class="row align-items-center flex-fill">
                          我想查詢會員與商品名稱間的關係
                      </div>
                    </a>
                  </li>  
                </ul>
              </div>
              </div>
            </nav>
            <!-- Page Content  -->
            <div id="content" class="">
                <nav class="mb-2">
                    <div class="container-fluid">
                      <button type="button" id="sidebarCollapse" class="btn btn-icon bg-transparent fs-1 border-0">
                          <i id="collapseIcon" class="ti ti-arrow-bar-to-left"></i>
                      </button>
                    </div>
                </nav>
                <div class="tab-content">
                  <div class="card chatbubble__card scrollable mb-2 tab-pane active" id="chat-1">
                    <div class="chat chat__area p-2">

                        <div class="chat-item">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:32</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>商品與城市關係</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-2">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)">
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:34</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>收到您的問題 商品與城市關係</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin d-flex justify-content-end">
                            <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                              <span class="switch-icon-a text-secondary">
                                <i class="ti ti-pin"></i>
                              </span>
                              <span class="switch-icon-b text-red">
                                <i class="ti ti-pin"></i>
                              </span>
                          </button>
                        </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:35</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <!-- 今年銷貨收入 -->
                                  <div class="table-responsive pb-0">
                                    <table class="table w-auto table-fixed table-hover table-vcenter text-secondary table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="w-50 text-center text-primary">分店</th>
                                            <th scope="col" class="w-50 text-center text-primary">營業額</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">中山電廠</td>
                                            <td class="text-center">11,135,034.0</td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">燒肉正宗-南屯</td>
                                          <td class="text-center">4,854,925.0</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">林口電廠</td>
                                            <td class="text-center">941,017.0</td>
                                      </tr>
                                      <tr>
                                        <td class="text-center">路易奇電力公司-台東電廠</td>
                                        <td class="text-center">352,040.0</td>
                                      </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin d-flex justify-content-end">
                            <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                              <span class="switch-icon-a text-secondary">
                                <i class="ti ti-pin"></i>
                              </span>
                              <span class="switch-icon-b text-red">
                                <i class="ti ti-pin"></i>
                              </span>
                          </button>
                        </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:40</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>這裡是 商品與城市關係的結果</p>
                                  <div class="mt-2">
                                    <div id="chart-1" class="bg-light"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="pin d-flex justify-content-end">
                                <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                                  <span class="switch-icon-a text-secondary">
                                    <i class="ti ti-pin"></i>
                                  </span>
                                  <span class="switch-icon-b text-red">
                                    <i class="ti ti-pin"></i>
                                  </span>
                              </button>
                            </div>
                            </div>
                          </div>
                        </div>
              
                        <div class="chat-item ">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:47</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>不同年齡段與性別在銷貨收入關聯性</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-2">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)"></span>
                            </div>
                          </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)"></span>
                            </div>
                            <div class="col-auto">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-body">
                                  <p class="text-light text-italic">typing<span class="animated-dots"></span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                  </div>
                  <div class="card chatbubble__card scrollable mb-2 tab-pane fade" id="chat-2">
                    <div class="chat chat__area p-2">
        
                        <div class="chat-item">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:32</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>不同年齡段與性別在銷貨收入關聯性</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-2">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)">
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:34</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>收到您的問題 不同年齡段與性別在銷貨收入關聯性</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin d-flex justify-content-end">
                            <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                              <span class="switch-icon-a text-secondary">
                                <i class="ti ti-pin"></i>
                              </span>
                              <span class="switch-icon-b text-red">
                                <i class="ti ti-pin"></i>
                              </span>
                          </button>
                        </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:35</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <!-- 今年銷貨收入 -->
                                  <div class="table-responsive border-0 border-gradient-blue-bottom pb-3">
                                    <table class="table table-hover table-vcenter text-secondary">
                                        <thead>
                                        <tr>
                                            <th>今年銷貨收入</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>110,277,736</td>
                                        </tr>
                                        <tr>
                                            <td>110,277,736</td>
                                      </tr>
                                      <tr>
                                          <td>110,277,736</td>
                                      </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pin d-flex justify-content-end">
                            <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                              <span class="switch-icon-a text-secondary">
                                <i class="ti ti-pin"></i>
                              </span>
                              <span class="switch-icon-b text-red">
                                <i class="ti ti-pin"></i>
                              </span>
                          </button>
                        </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)">
                              </span>
                            </div>
                            <div class="col col-lg-12">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:40</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>這裡是 不同年齡段與性別在銷貨收入關聯性的結果</p>
                                  <div class="mt-2">
                                    <div id="chart-2" class="bg-light"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="pin d-flex justify-content-end">
                                <button class="switch-icon fs-1" data-bs-toggle="switch-icon">
                                  <span class="switch-icon-a text-secondary">
                                    <i class="ti ti-pin"></i>
                                  </span>
                                  <span class="switch-icon-b text-red">
                                    <i class="ti ti-pin"></i>
                                  </span>
                              </button>
                            </div>
                            </div>
                          </div>
                        </div>
              
                        <div class="chat-item ">
                          <div class="row align-items-end justify-content-end">
                            <div class="col col-lg-12">
                              <div class="chat-bubble chat-bubble-me">
                                <div class="chat-bubble-title">
                                  <div class="row">
                                    <div class="col-auto chat-bubble-date">09:47</div>
                                  </div>
                                </div>
                                <div class="chat-bubble-body">
                                  <p>根據上述加上銷貨毛利</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto mt-2">
                              <span class="avatar" style="background-image: url(../assets/images/user.png)"></span>
                            </div>
                          </div>
                        </div>

                        <div class="chat-item ms-4">
                          <div class="row align-items-end">
                            <div class="col-auto mb-2">
                              <span class="avatar" style="background-image: url(../assets/images/robot.png)"></span>
                            </div>
                            <div class="col-auto">
                              <div class="chat-bubble mb-2">
                                <div class="chat-bubble-body">
                                  <p class="text-light text-italic">typing<span class="animated-dots"></span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-0 d-flex">
                  <button type="button" class="btn btn-purple text-white me-2" data-bs-toggle="modal" data-bs-target="#modal-command"> 
                    <i class="ti ti-robot text-white fs-2"></i>
                    <span class="d-none d-sm-inline-block">智慧查詢</span>
                  </button > 
                  <div class="input-group input-group-flat">
                    <input type="text" class="form-control" autocomplete="off" placeholder="請輸入問題">
                  </div>
                    <button type="button"  class="btn btn-info btn-icon btn-voice ms-2"> 
                      <i class="ti ti-microphone text-white fs-2"></i>
                    </button >
                    <button type="button" class="btn btn-primary btn-icon btn-send ms-2"> 
                      <i class="ti ti-send text-white fs-2"></i>
                  </button >
                </div>
            </div>
        </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <div class="go-to-top" id="backtop">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up icon" width="24" height="24" 
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="6 15 12 9 18 15"></polyline></svg>
      </a>
    </div>
    <!-- modal -->
    <div class="modal modal-blur fade" id="modal-command" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <%- include('./layout/chatMessage-command'); -%>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#sidebarCollapse').find('#collapseIcon').toggleClass('ti-arrow-bar-to-left').toggleClass('ti-arrow-bar-to-right');
  
        });
    });
</script>

    <!-- Tabler Core -->
    <script type="module" src="../main.js"></script>


  </body>
</html>