<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <title>Report AI</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/header'); -%>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
        
          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
