<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css"> -->

    <title>Line Notify - Report AI</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/header'); -%>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Line Notify
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-new">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                  新增
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div id="table-default" class="table-responsive border-0 border-gradient-blue-bottom pb-4">
              <table class="table table-hover table-vcenter">
                  <thead>
                    <tr>
                      <th class="text-primary">名稱</th>
                      <th class="text-primary">Line Token</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-primary">測試群組</td>
                      <td class="text-secondary">UjLp1eLk9v4WTwze4pk0WhZTTUKhwjk0kh0DhPOZZBo</td>
                      <td>
                        <div class="btn-list">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                編輯
                            </a>
                            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-danger">
                                刪除
                            </a>
                            <a href="#" class="btn btn-cyan" data-bs-toggle="modal" data-bs-target="#modal-test">
                                測試
                            </a>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <!-- Pagination -->
          <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                  <div class="card border-top-0 bg-transparent border-0">
                    <div class="card-body">
                      <ul class="pagination d-flex justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                            上一頁
                          </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">
                            下一頁 <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <!-- modal -->
    <div class="modal modal-blur fade" id="modal-new" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <%- include('./layout/linetoken-new'); -%>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <%- include('./layout/linetoken-edit'); -%>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <%- include('./layout/modal-del'); -%>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-test" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <%- include('./layout/linetoken-test'); -%>
        </div>
    </div>
    <div class="go-to-top" id="backtop">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up icon" width="24" height="24" 
        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="6 15 12 9 18 15"></polyline></svg>
      </a>
    </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
