<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <title>角色管理 - Report AI</title>
  </head>
  <body>
    <div class="page">
      <%- include('./layout/header'); -%>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  角色管理
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-new">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                 新增
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="table-responsive border">
                <table class="table table-hover table-vcenter">
                  <thead>
                    <tr>
                      <th>名稱</th>
                      <th>使用者列表</th>
                      <th>指標列表</th>
                      <th>Table列表</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>主管</td>
                      <td class="text-secondary">總經理</td>
                      <td class="text-secondary">
                        <ul class="ps-0">
                            <li>2023 Q1焦點產品銷售</li>
                            <li>2023 Q1銷售</li>
                            <li>2023 Q2焦點產品銷售</li>
                            <li>2023 Q2銷售</li>
                            <li>2023 Q3焦點產品銷售</li>
                            <li>2023 Q3銷售</li>
                            <li>2023 Q4焦點產品銷售</li>
                            <li>2023 Q4銷售</li>
                            <li>交貨時間（Lead Time）</li>
                            <li>合約履行率（Contract Compliance）</li>
                            <li>合約達成率（Contract Attainment）</li>
                            <li>周轉時間（Lead Time）</li>
                            <li>品質控制（Quality Control）</li>
                            <li>安全庫存水平（Safety Stock Level）</li>
                            <li>帳齡分析（Aging of Accounts Receivable）</li>
                            <li>平均庫存週期（Average Inventory Days）</li>
                            <li>平均收款週期（Average Collection Period）</li>
                            <li>庫存成本比率（Inventory Cost-to-Sales Ratio）</li>
                            <li>庫存週轉率（Inventory Turnover）</li>
                            <li>應收帳款週轉率（Accounts Receivable Turnover）</li>
                            <li>產能利用率（Capacity Utilization）</li>
                            <li>缺貨率（Stockout Rate）</li>
                            <li>逾期帳款率（Accounts Receivable Overdue Percentage）</li>
                        </ul>
                      </td>
                      <td class="text-secondary">charge content_bonus</td>
                      <td class="text-secondary">
                        <div class="btn-list">
                            <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                編輯
                            </a>
                          </div>
                      </td>
                    </tr>
                    <tr>
                        <td>高階主管</td>
                        <td class="text-secondary"></td>
                        <td class="text-secondary">
                          <ul class="ps-0">
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>經銷事業處主管</td>
                        <td class="text-secondary">江處長</td>
                        <td class="text-secondary">
                          <ul class="ps-0">
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>醫院事業處主管</td>
                        <td class="text-secondary">任經理</td>
                        <td class="text-secondary">
                          <ul class="ps-0">
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>診所事業處、國貿主管</td>
                        <td class="text-secondary">
                            <ul>
                                <li>古副理</li>
                                <li>楊經理</li>
                                <li>王經理</li>
                            </ul>
                        </td>
                        <td class="text-secondary">
                          <ul>
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>生產事業處主管</td>
                        <td class="text-secondary">副廠長</td>
                        <td class="text-secondary">
                          <ul class="ps-0">
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>行政管理單位	</td>
                        <td class="text-secondary">
                            <ul>
                                <li>劉處長</li>
                                <li>柯處長</li>
                                <li>謝經理</li>
                            </ul>
                        </td>
                        <td class="text-secondary">
                          <ul>
                              <li>2023 Q1焦點產品銷售</li>
                              <li>2023 Q1銷售</li>
                          </ul>
                        </td>
                        <td class="text-secondary">charge content_bonus</td>
                        <td class="text-secondary">
                          <div class="btn-list">
                              <a href="#" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                  編輯
                              </a>
                            </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <!-- Pagination -->
          <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <ul class="pagination d-flex justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                            上一頁
                          </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">
                            下一頁 <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
    </div>
    <!-- modal -->
    <div class="modal modal-blur fade" id="modal-new" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <%- include('./layout/role-new'); -%>
        </div>
    </div>

    <div class="modal modal-blur fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <%- include('./layout/role-edit'); -%>
      </div>
  </div>

    <script type="module" src="../main.js"></script>
    <!-- 下拉複選 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      (function($) {
        var Defaults = $.fn.select2.amd.require('select2/defaults');
        $.extend(Defaults.defaults, {
            searchInputPlaceholder: ''
        });
        var SearchDropdown = $.fn.select2.amd.require('select2/dropdown/search');
        var _renderSearchDropdown = SearchDropdown.prototype.render;
        SearchDropdown.prototype.render = function(decorated) {
            // invoke parent method
            var $rendered = _renderSearchDropdown.apply(this, Array.prototype.slice.apply(arguments));
            this.$search.attr('placeholder', this.options.get('searchInputPlaceholder'));
            return $rendered;
        };
    })(window.jQuery);

    $( '#add-user,#add-ind,#add-table,#edit-user,#edit-ind,#edit-table' ).select2( {
        theme: "bootstrap-5",
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $( this ).data( 'placeholder' ),
        tags: true,
        closeOnSelect: true,
        allowClear :true,
      });
    </script>
  </body>
</html>
